absl-py==1.2.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
aplus==0.11.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astropy==5.2.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
Automat==22.10.0
backcall==0.2.0
backoff==2.2.1
bar-chart-race==0.1.0
beautifulsoup4==4.9.3
black==22.3.0
blake3==0.3.3
bleach==5.0.1
blinker==1.6.2
blis==0.7.9
boto3==1.26.41
botocore==1.29.109
bqplot==0.12.36
branca==0.6.0
Brotli==1.0.9
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.2.0
cassandra-driver==3.28.0
catalogue==2.0.8
catboost==1.1.1
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
chart-studio==1.1.0
chromadb==0.3.26
click==8.0.4
clickhouse-connect==0.6.4
cloudpickle==2.2.1
cmake==3.25.0
cmdstanpy==0.9.5
colorama==0.4.4
coloredlogs==15.0.1
colorlover==0.3.0
comtypes==1.1.14
confection==0.0.3
constantly==15.1.0
contourpy==1.0.7
convertdate==2.4.0
cryptography==41.0.2
cssselect==1.2.0
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
cytoolz==0.12.0
dash==2.3.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-iconify==0.1.0
dash-table==5.0.0
dask==2023.3.2
dataclasses==0.6
dataclasses-json==0.5.8
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
dlib==19.24.0
dnspython==2.3.0
duckdb==0.8.1
eland==8.7.0
elastic-transport==8.4.0
elasticsearch==8.6.2
elasticsearchquerygenerator==5.0.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl#sha256=7b1681d44181b1ae6517044c9beed90cb71faaa0d7dc92bf18fbe590847051d5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==0.8.3
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.95.0
fastjsonschema==2.16.2
ffmpy==0.3.0
filelock==3.9.0
fire==0.5.0
firebase-admin==5.3.0
Flask==2.0.3
Flask-Compress==1.11
Flask-WTF==1.1.1
flatbuffers==22.9.24
folium==0.12.1.post1
fonttools==4.31.2
frozendict==2.3.6
frozenlist==1.3.3
fsspec==2023.6.0
fst-pso==1.8.1
future==0.18.3
FuzzyTM==2.0.5
fuzzywuzzy==0.18.0
fvcore==0.1.5.post20221221
gast==0.4.0
gensim==4.3.0
geocoder==1.38.1
geographiclib==2.0
geomet==0.2.1.post1
geopy==2.3.0
geopyspark==0.4.3
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.10.0
google-api-python-client==2.58.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-firestore==2.6.1
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
googlesearch-python==1.1.0
gradio==3.35.2
gradio_client==0.2.7
graphviz==0.20.1
gravityai==0.1.3.post1
great-expectations==0.15.41
greenlet==2.0.2
grpcio==1.48.1
grpcio-status==1.48.1
gTTS==2.2.4
gunicorn==20.0.4
h11==0.14.0
h5py==3.7.0
hijri-converter==2.2.4
holidays==0.18
httpcore==0.17.2
httplib2==0.20.4
httptools==0.5.0
httpx==0.24.1
huggingface-hub==0.15.1
humanfriendly==10.0
hummingbird-ml==0.4.7
hydra-core==1.3.2
hyperlink==21.0.0
idna==2.10
imageio==2.26.0
imantics==0.1.12
imgaug==0.4.0
importlib-metadata==5.0.0
incremental==22.10.0
iopath==0.1.10
ipydatawidgets==4.3.3
ipykernel==6.15.2
ipyleaflet==0.17.2
ipympl==0.9.3
ipython==8.14.0
ipython-genutils==0.2.0
ipyvolume==0.6.1
ipyvue==1.9.0
ipyvuetify==1.8.5
ipywebrtc==0.6.0
ipywidgets==8.0.4
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.1
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.3.1
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.4.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyter_server==2.0.6
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jyserver==0.0.5
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
korean-lunar-calendar==0.3.1
labelme2coco==0.2.4
langchain==0.0.220
langchainplus-sdk==0.0.19
langcodes==3.3.0
lazy_loader==0.1
lazypredict==0.2.12
Levenshtein==0.20.9
libclang==14.0.6
lightgbm==3.3.5
linkify-it-py==2.0.2
llama-index==0.6.37
llvmlite==0.39.1
locket==1.0.0
loguru==0.7.0
LunarCalendar==0.0.9
lxml==4.9.2
lz4==4.3.2
makefun==1.15.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.0
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.3
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
miniful==0.0.6
mistune==2.0.4
mlxtend==0.21.0
money-parser==0.0.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.4
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nest-asyncio==1.5.5
networkx==2.8.8
nltk==3.7
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numexpr==2.8.4
numpoly==1.2.5
numpy==1.22.3
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.1
onnxconverter-common==1.13.0
onnxruntime==1.15.1
openai==0.27.2
openapi-schema-pydantic==1.2.4
opencv-python==4.6.0.66
openpyxl==3.1.0
opt-einsum==3.3.0
orjson==3.9.1
outcome==1.2.0
overrides==7.3.1
packaging==21.3
pandas==2.0.0
pandas-stubs==1.5.2.221213
pandocfilters==1.5.0
parsel==1.7.0
parso==0.8.3
partd==1.3.0
pathlib==1.0.1
pathspec==0.9.0
pathy==0.10.1
patsy==0.5.2
pickleshare==0.7.5
Pillow==9.1.0
pinecone-client==2.2.2
pixellib==0.7.1
platformdirs==2.5.1
plotly==5.6.0
pmdarima==1.8.5
portalocker==2.7.0
posthog==3.0.1
pox==0.3.2
ppft==1.7.6.6
preshed==3.0.8
progressbar2==4.2.0
prometheus-client==0.15.0
prompt-toolkit==3.0.29
prophet==1.1.1
Protego==0.2.1
proto-plus==1.22.1
protobuf==3.20.3
psutil==5.9.1
pulsar-client==3.2.0
pure-eval==0.2.2
pyaml-env==1.2.1
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
pybboxes==0.1.6
pycparser==2.21
pydantic==1.10.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
pydot==1.4.2
pydub==0.25.1
pyerfa==2.0.0.3
pyFUME==0.2.25
Pygments==2.14.0
PyMeeus==0.5.12
pymongo==4.4.0
Pympler==1.0.1
pyOpenSSL==23.0.0
pyparsing==3.0.7
pypdf==3.12.0
pyphen==0.13.2
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyreadline3==3.4.1
pyrsistent==0.18.1
PySocks==1.7.1
pystan==2.19.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.4
python-multipart==0.0.6
python-utils==3.5.2
pythreejs==2.4.2
pyttsx3==2.90
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==304
pywinpty==2.0.10
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
queuelib==1.6.2
rapidfuzz==2.13.7
ratelim==0.1.6
regex==2022.9.13
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.3.2
rsa==4.9
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
sahi==0.11.12
scikit-image==0.20.0
scikit-learn==1.0.2
scikit-plot==0.3.7
scikit-surprise==1.1.3
scipy==1.8.0
Scrapy==2.8.0
seaborn==0.11.2
selenium==4.9.0
semantic-version==2.10.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
service-identity==21.1.0
setuptools-git==1.2
shapely==2.0.1
simpful==2.9.0
six==1.16.0
sktime==0.15.1
slack-sdk==3.21.3
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.4
SpeechRecognition==3.8.1
SQLAlchemy==2.0.16
srsly==2.4.5
srt==3.5.2
stack-data==0.2.0
starlette==0.28.0
statsmodels==0.13.2
streamlit==1.24.0
surprise==0.1
sympy==1.12
tabulate==0.9.0
taiyo-arc==0.0.51
taiyo-connect==0.0.19
tenacity==8.2.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
terminado==0.17.1
terminaltables==3.1.10
textacy==0.12.0
thinc==8.1.5
threadpoolctl==3.1.0
tifffile==2023.3.15
tiktoken==0.4.0
tinycss2==1.2.1
tldextract==3.4.0
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch==2.0.1
torchvision==0.10.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.8.0
traittypes==0.2.1
transformers==4.30.2
trio==0.22.0
trio-websocket==0.10.2
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typeguard==2.13.3
typer==0.7.0
types-pytz==2022.7.0.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.2
uritemplate==4.1.1
urllib3==1.26.8
uvicorn==0.21.1
vaex==4.16.0
vaex-astro==0.9.3
vaex-core==4.16.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.1
vaex-ml==0.18.1
vaex-server==0.8.1
vaex-viz==0.5.4
validators==0.20.0
vosk==0.3.42
w3lib==2.1.1
wasabi==0.10.1
watchdog==3.0.0
watchfiles==0.18.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.0.3
widgetsnbextension==4.0.5
wikipedia==1.4.0
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
xarray==2023.3.0
xgboost==1.7.3
xmljson==0.2.1
xvfbwrapper==0.2.9
xyzservices==2023.2.0
yacs==0.1.8
yarl==1.8.2
zipp==3.9.0
zope.interface==5.5.2
zstandard==0.21.0
